/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMONS */
body{
    font-family: 'Lato', sans-serif;
    background-color: aqua
}
img{
    width: 100%;
}
.bg_container{
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
  /* DEBUG */
    background-color:rgb(244, 244, 221);
}
.app-container{
    display: flex;
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    background-color: azure;
}
a, i{
    color: gray;
    padding: 0.5rem
}

/* MENU LATERALE */

.side-menu{
    width: 40%;
}

/* MENU HEADER */
.header-menu{
    width: 100%;
    /* height: 10vh; */
    background-color: azure;

}
.active_item{
    display: flex;
    justify-content: space-between;
}
.owner-card{
    display: flex;
    align-items: center;
    /* max-width: 50%; */
    /* DEBUG */
    border: 1px solid black;
}
.avatar_img{
    width: 3rem;
    border-radius: 50%;
    object-fit: contain;
}
.right_menu{
    max-width: 50%;
    min-width: 20%;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

/* MAIN MENU */

.main-menu{
width: 100%;
height: 80vh;

}

.notifiche{
    display: flex;
    background-color: darkturquoise;
    width: 100%;
    min-height: 10vh;
    justify-content: space-around;
    align-items: center;
}
.fa-bell-slash{
    background-color: white;
    border-radius: 50%;
    padding: 1rem;
    font-size: 1.5rem;
    color: darkturquoise;
}

.search-item{
 display: flex;
}

.chat-list{
    overflow-y: scroll;
}

.item-container{
    display: flex;
    justify-content: space-between;
}
.avatar-text{
    margin: 0 1rem;
}

.avatar-in-list{
    display: flex;
    align-items: center;
    /* DEBUG */
    border: 1px solid black;
    justify-content: space-around;
    height: 10vh;
}


/* MAIN */
main{
    width: 60%;
    height: 100%;
    
    background-color: bisque;
}

.avatar-active-card{
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    align-items: center;
    background-color: azure;
    border: 1px solid black;
}
.opened-chat{
    width: 100%;
    height: 78%;
    overflow-y: scroll;
}

Footer{
    display: flex;
    height: 10%;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid black;
    background-color: beige;
    justify-content: space-around;
    align-items: center;
}
.write-message{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
input{
    border-radius: 5px;
    width: 100%;
    line-height: 1.2rem;   
}
