<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"> -->
    <script src="https://kit.fontawesome.com/4bd9df803e.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app" class="bg_container">
        <div class="app-container">
            <!-- Menu-laterale -->
            <nav class="side-menu">
                <!-- header -->
                <div class="header-menu">
                    <div class="active_item">
                        <div class="owner-card">
                            <img class="avatar_img" src="img/avatar_io.jpg" alt="">
                            <h4>Sofia</h4>
                        </div>
                        <div class="right_menu">
                            <a href="">
                                <i class="fa-solid fa-circle-notch"></i>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-message"></i>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /header -->
            
                <!-- Main-menu -->
                <div class="main-menu">
                    <div class="notifiche">
                        <a href="">
                            <i class="fa-solid fa-bell-slash"></i>
                            </a>
                        <div>
                            <p>Ricevi notifiche di nuovi messaggi</p>   
                            <a href="">Attiva notifiche facebook</a>
                        </div>    
                    </div>
                    <div class="search-item">
                        <a href="">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                        <label for="search"></label>
                        <input type="text" id="search">
                    </div>
                    <ul class="chat-list">
                        <li v-for="thisAvatar in contacts" @click="showAvatar">
                            <div class="avatar-in-list">
                                <div class="item-container">
                                    <img class="avatar_img" 
                                    :src="`img/avatar${thisAvatar.avatar}.jpg`" alt="">
                                    <div class="avatar-text">
                                        <h4>{{thisAvatar.name}}</h4>
                                        <p>{{thisAvatar.messages[0].message}}</p>
                                    </div>
                                </div>
                                <div class="date">ora</div>
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
         <!-- /Menu-laterale -->
         <!-- Menu chat aperta -->
            <main>
               <header>
                   <ul class="avatar-active-card">
                        <li v-for="thisAvatar in contacts" :class="thisAvatar.visible = true ? `active` : ``">
                            <div class="item-container">
                                <img class="avatar_img" :src="`img/avatar${thisAvatar.avatar}.jpg`" alt="">
                                <h4>{{thisAvatar.name}}</h4>
                                <p>Ultimo accesso <span class="date">ora</span> </p>
                            </div>
                        </li>
                       <div class="menu-icon">
                            <a href="">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-paperclip"></i>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </a>
                       </div>
                    </ul>
               </header>
               <div class="opened-chat" v-for="allMessages in contacts ">
                <p class="sent">{{allMessages.messages}}</p>
                <p class="received">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus rerum necessitatibus doloremque, ratione ad beatae nemo quia eaque id vero sapiente! Possimus dignissimos corrupti id minus provident consequatur explicabo in.</p>
               </div>
               <footer>
                    <a href="">
                        <i class="fa-regular fa-face-smile"></i>
                    </a>

                    <div class="write-message">
                        <label for="input-text"></label>
                        <input type="text" id="input-text">
                    </div>
                    <a href="">
                        <i class="fa-solid fa-microphone"></i>
                    </a>    
                </footer>
            </main>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>