<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"> -->
    <script src="https://kit.fontawesome.com/4bd9df803e.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app" class="bg_container">
        <div class="app-container">
            <!-- Menu-laterale -->
            <nav class="side-menu">
                <!-- header laterale -->
                <div class="header-menu">
                    <div class="active_item">
                        <div class="owner-card">
                            <img class="avatar_img" src="img/avatar_io.jpg" alt="">
                            <h4>Sofia</h4>
                        </div>
                        <div class="right_menu">
                            <a href="">
                                <i class="fa-solid fa-circle-notch"></i>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-message"></i>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /header -->
            
                <!-- Main-menu laterale -->
                <div class="main-menu">
                    <!-- notifications -->
                    <section class="notifiche">
                        <a href="">
                            <i class="fa-solid fa-bell-slash"></i>
                            </a>
                        <div>
                            <p>Ricevi notifiche di nuovi messaggi</p>   
                            <a href="">Attiva notifiche facebook</a>
                        </div>    
                    </section>
                    <!-- /notifications -->
                    <!-- Search -->
                    <section class="search-item">
                        <a href="">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                        <div class="search-field">
                            <label for="search"></label>
                            <input type="text" id="search">
                        </div>
                    </section>
                    <!-- /Search -->

                    <!-- chat-list -->
                    <ul class="chat-list">
                        <li v-for="(thisAvatar, index) in contacts" :class="activeItem" @click="selectItem(index)">
                            <div class="avatar-in-list">
                                <div class="item-container">
                                    <img class="avatar_img" 
                                    :src="`img/avatar${thisAvatar.avatar}.jpg`" alt="">
                                    <div class="avatar-text">
                                        <h4>{{thisAvatar.name}}</h4>
                                        <p>{{thisAvatar.messages[0].message}}</p>
                                    </div>
                                </div>
                                <div class="date">ora</div>
                                
                            </div>
                        </li>
                    </ul>
                    <!-- /chat-list -->
                </div>
            </nav>
         <!-- /Main Menu-laterale -->
         <!-- Menu chat aperta -->
            <main>
                <header>
                    <div class="avatar-active-card">
                        <div>
                            <div class="item-container" :class="activeItem">
                                <img class="avatar_img" :src="`img/avatar${contacts[activeItem].avatar}.jpg`" alt="">
                                <h4>{{contacts[activeItem].name}}</h4>
                            </div>
                            <p>Ultimo accesso <span class="date">ora</span> </p>
                        </div> 
                        <div class="menu-icon">
                            <a href="">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-paperclip"></i>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </a>
                        </div>
                     </div>
                </header>
               <!-- /header -->
               <!-- Opened-chat -->
               <section class="opened-chat" >
                    <div class="message sent" v-for="userMessage in contacts[activeItem].messages" :class="userMessage.status">
                        <div class="message-box" >
                            <p class="message-text" >{{userMessage.message}}</p>
                            <p class="time">time</p>
                        </div>
                    </div>
               </section>
               <!-- /Opened-chat -->

               <!-- Footer -->
               <footer>
                    <a href="">
                        <i class="fa-regular fa-face-smile"></i>
                    </a>

                    <div class="write-message">
                        <label for="input-text"></label>
                        <input type="text" id="input-text" v-model="newUserMessage"
                        @keyup.enter="pushMessage(activeItem)">
                    </div>
                    <a href="">
                        <i class="fa-solid fa-microphone"></i>
                    </a>    
                </footer>
            </main>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>